################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

## Visual Studio Files ##
/.vs
/Debug
/Release
/transitin-sqlite/Debug
/transitin-sqlite/Release

## Visual Studio Temp/Recovery Files ##
/enc_temp_folder

## Personal Testing Files ##
/transitin-sqlite/debugDB
/transitin-sqlite/GTFS_Samples
/transitin-sqlite/GTFSErrors.txt

## SQLite files ##
*.db
*.sqlite*
*.txt
*.*-journal
