################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/transitin-qlite/Debug
/Debug
/transitin-qlite/debugDB
/transitin-qlite/GTFS_Samples
*.sqlite3
*.db
